@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

header {
    z-index: 5;
    width: 100%;
    height: 80px;
    background-color: #e4e4e4;
    display: flex;
    align-items: center;
    position: sticky;
}

.logo {
    margin-left: 5%;
}

.navbar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-nav {
    display: flex;
    margin-right: 50px;
    list-style-type: none;
}

.nav-item a {
    padding: 30px;
    text-decoration: none;
    font-weight: 800;
    font-size: 16px;
    color: #1b1b1b;
    transition: .4s ease-in-out;
}

.active a {
    color: #de1f26;
}

.drop {
    list-style-type: none;
    display: none;
}

.navbar li:nth-child(2):hover .drop {
    display: block;
}

.nav-item a:hover {
    color: #c15858;
}

.maincontent {
    background-color: #e4e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maincontent h2 {
    font-size: 50px;
    font-weight: 600;
}

.request {
    margin-top: 25px;
}

.request a {
    border-radius: 8px;
    color: #ffff;
    text-decoration: none;
    padding: 8px 16px;
    background-color: #de1f26;

}

.impacts {
    background-image: url('../media/donate.jpg');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.impacts:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgb(209, 75, 98, 0.7);
}

.impacts h2 {
    z-index: 1;
    color: #ffff;
    font-size: 50px;
    transform: translateY(-80px);
}

.impacts p {
    z-index: 1;
    color: #ffff;
    letter-spacing: 1.5;
    line-height: 2;
    text-align-last: center;
}

.container {
    background-color: #e4e4e4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: auto;
    height: 250px;
    justify-content: center;
    align-items: center;
}

.data {
    background-color: #ffff;
    margin: auto;
    padding: 20px 60px;
    border-radius: 20px;
    transform: translateY(-60px);
}

.data h4 {
    text-align: center;
    font-size: x-large;
}

.data p {
    margin: 10px;
    padding: 5px;
    text-align: center;
    color: #ffff;
    background-color: #d14b62;
    border-radius: 8px;
}

.bloodfacts {
    background-image: url('../media/bloodfacts.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 700px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bloodfacts:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgb(209, 75, 98, 0.7);
}

.bloodfacts h2 {
    z-index: 1;
    color: #ffff;
    font-size: 50px;
    transform: translateY(20px);
}

.tables {
    margin-top: 50px;
    z-index: 1;
    display: flex;
    justify-content: center;
}



.tables table,
th,
tr,
td {
    background-color: #ffff;
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px 20px;
    text-align: center;
}

.tables ul {
    color: #ffff;
    margin-left: 30px;
    width: 700px;
    letter-spacing: 1.5;
    line-height: 2;
}

ul {
    margin-top: 25px;
    z-index: 2;
    color: #ffff;
    margin-left: 30px;
    letter-spacing: 1.5;
    line-height: 2;
}

.types {
    background-color: rgb(228, 228, 228, 0.7);
    width: 100%;
    height: 300px;
}

.horizondal {
    z-index: 10;
}

.types h2 {
    font-size: 50px;
    font-weight: 600;
    padding-top: 20px;
    text-align: center;
    color: #b3403a;
}

.types ul {
    color: black;
    margin-left: 100px;
}

.types ul li {
    letter-spacing: 1.5;
    line-height: 2;
    font-weight: 600;
}

.donations {
    background-color: rgb(192, 30, 46);
    width: 100%;
    height: 400px;

}

.column {
    width: 300px;
    height: 150px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 25px;
}

.column h4 {
    padding: 20px;
}

.column p {
    padding: 10px;
}

.first {
    display: flex;
    justify-content: space-around;
    transform: translateY(-80px);
}

.second {
    display: flex;
    width: 70%;
    justify-content: space-around;
    transform: translateX(20%);

}

.donorarrow {
    margin-top: 30px;
    text-align: center;
    transform: translatex(-20px);
}

.donorarrow a {
    border-radius: 8px;
    color: #c01e2e;
    width: fit-content;
    text-decoration: none;
    padding: 8px 16px;
    background-color: #ffff;
}

.slider {
    background-color: #e4e4e4;
    width: 100%;
    height: 650px;
}

.slider h2 {
    font-size: 40px;
    font-weight: 600;
    padding-top: 20px;
    text-align: center;
}

.swiper {
    margin-top: 50px;
    width: 80%;
    height: 500px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer {
    background-image: url('../media/footer.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.footer:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgb(209, 75, 98, 0.7);
}

.footer h2 {
    z-index: 5;
    color: #ffff;
    font-size: 50px;
    margin-left: 150px;

}

.contact {
    margin-top: 50px;
    z-index: 5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}



.details {
    display: flex;
    flex-direction: column;
}

.details p {
    margin-left: 150px;
    padding: 10px;
}

.details a {
    text-decoration: none;
    color: #ffff;
    font-weight: 500;
}

.contact p {
    color: #ffff;
}

.black p {
    z-index: 6;
    width: 120px;
    color: #ffff;
    border-radius: 10px;
    background-color: black;
}

.messagebox {
    background-color: white;
    z-index: 6;
    width: 500px;
    height: 150px;
    border-radius: 20px;
    padding: 20px;
}

.messagebox p {
    color: black;
    padding: 10px;
    font-weight: 600;
}


.footer-col h4 {
    margin-bottom: 30px;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 600;
}


.social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.copyright p {
    width: 100%;
    z-index: 5;
    background-color: #e4e4e4;
    text-align: center;
    padding: 10px 0px;
    text-align: center;
    color: black;
    cursor: pointer;

}

/* ------------------------------Contact page----------------------------------------- */

.contactus {
    background-image: url('../media/bloodfacts.png');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactus:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 98.5%;
    z-index: 0;
    background-color: rgb(209, 75, 98, 0.7);
}

.c_main {
    z-index: 5;
    position: relative;
    padding-top: 36px;
    padding-bottom: 36px;
}

.c_container {
    width: 100%;
    margin: auto;
    display: grid;
}

.section-header {
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
}

.section-header h2 {
    color: #ffff;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 20px;
}

.section-header p {
    color: #ffff;
    font-weight: 400;
    font-size: large;
}

.row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.contact-info {
    width: 30%;
}

.contact-info-item {
    display: flex;
    margin-bottom: 30px;
}

.contact-info-icon {
    height: 70px;
    width: 70px;
    background-color: #ffffff;

    text-align: center;
    border-radius: 50%;
}

.contact-info-icon i {
    color: black;
    font-size: 30px;
    line-height: 70px;
}

.contact-info-content {
    margin-left: 20px;
}

.contact-info-content h4 {
    color: #ffff;
    font-size: 1.4em;
    margin-bottom: 5px;
}

.contact-info-content p {
    color: #ffff;
    font-size: 1em;
}

.contact-form {
    background-color: #fff;
    padding: 40px;
    width: 40%;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 20px;
}

.contact-form h2 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 5px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 14px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contact-form .input-box span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contact-form .input-box input:focus~span,
.contact-form .input-box textarea:focus~span {
    color: #ff0000;
    font-size: 12px;
    transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"] {
    width: 100%;
    background: #ff0000;
    color: #ffff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    transition: 0.5s;
}

.contact-form .input-box input[type="submit"]:hover {
    background: #ffff;
    color: #ff0000;
    border: 1px solid #ff0000;

}

/* ------------------------Contact page end------------------------------------ */

/* ------------------------Login page start------------------------------------ */

.login_body {

    display: grid;
    width: 100%;
    height: 83.2vh;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
    background-color: #e4e4e4;
}

.center {

    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.center h1 {
    color: #ff0000;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #666666;
}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #666666;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #ff0000;
    transition: .5s;
}

.txt_field input:focus~label,
.txt_field input:valid~label {
    top: -5px;
    color: #ff0000;
}

.txt_field input:focus~span::before,
.txt_field input:valid~span::before {
    width: 100%;
}

.pass {
    margin: -5px 0 20px 5px;
    color: #666666;
    cursor: pointer;
}

.pass:hover {
    color: #1b1b1b;
    text-decoration: underline;
    text-underline-position: below;
    transition-delay: 1s ease-in-out;

}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #ff0000;
    border-radius: 25px;
    font-size: 18px;
    color: #ffff;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    background: #ffff;
    border-color: #ff0000;
    color: #ff0000;
    transition: .5s;
}

.signup_link {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.signup_link a {
    color: #ff0000;
    text-decoration: none;
}

.signup_link a:hover {
    text-decoration: underline;
}

/* ------------------------Login page end------------------------------------ */

/* ------------------------Registration page start------------------------------------ */


.peronsal-info {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 60vh;
    margin: auto;
    align-items: center;
}

.peronsal-info .title {
    margin-top: 30px;

    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    color: #ff0000;
}

.peronsal-info form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.peronsal-info form .form-items {
    width: 100%;
    display: flex;
    justify-content: center;
}

.peronsal-info form .form-items .left,
.peronsal-info form .form-items .right {
    width: 50%;
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.peronsal-info form .form-items label {
    margin-top: 10px;
}

.peronsal-info form .form-items input,
.peronsal-info form .form-items select {
    height: 40px;
    padding: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    border-radius: 6px;
    outline: none;

}

.peronsal-info form button {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.peronsal-info form button:hover {
    background-color: #ffff;
    color: #ff0000;
    border: 1px solid #ff0000;
}

input {
    box-sizing: border-box;
    border: 1px solid black;
    width: 200px;
}

/* ------------------------Registration page end------------------------------------ */